<header class="header">
  <div class="container test">
    <div class="header__inner">
      <!--      <nav class="nav">-->
      <a href="/"><img src="./images/headerLogo.png" alt=""></a>
      <p class="header__about"><img src="./images/postavshiki.svg" alt=""><span id="header__about_primary">167 прямых поставщиков</span><span> двигателей в одном месте</span></p>
      <button class="button button__login"><img src="./images/login.svg" alt=""><span>Вход в кабинет</span></button>
      <!--      </nav>-->
    </div>
    <!--    fasdfasfgsfdg-->
  </div>
</header>
