<header class="header">
  <div class="container header__container">
    <div class="header__inner">
      <!--      <nav class="nav">-->
      <a href="/">
        <img src="./static/seopage/images/headerLogo.png" alt="">
      </a>
      <p class="header__about"><img src="./static/seopage/images/postavshiki.svg" alt=""><span id="header__about_primary">167 прямых поставщиков</span><span> двигателей в одном месте</span></p>
      <a href="/lk/search/?detail=Двигатель" style="text-decoration: none">
      <button class="button button__login">
        <svg>
          <use xlink:href="./static/seopage/images/svgSprites.svg#login" xmlns="http://www.w3.org/2000/svg"></use>
        </svg>
        <!--        <img src="./images/login.svg" alt="">-->
        <span>Вход в кабинет</span>
      </button>
      </a>
      <!--      </nav>-->
    </div>
    <!--    fasdfasfgsfdg-->
  </div>
</header>
