<div class="main">
  <div class="container">
    <div class="main__inner">
      <p class="main__title">КОНТРАКТНЫЕ НОВЫЕ И Б\У ДВИГАТЕЛИ ОТ ПРЯМЫХ ПОСТАВЩИКОВ
      </p>
      <p class="main__subtitle">
        Получите лучшее предложение среди сотен поставщиков <span class="main__subtitle__accent">в 1 клик</span>
      </p>
      <div class="main__list main__list__first">
        <div class="main__list__item">
          <p class="main__list__title">AlfaRomeo
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Audi
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Ford
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Jaguar
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Land Rover
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Mercedes
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Opel
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Renault
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Rover
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Saab
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Skoda
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Volkswagen
          </p>
          <div class="main__list__point"></div>
        </div>
      </div>
      <div class="main__list main__list__second">
        <div class="main__list__item">
          <p class="main__list__title">Volvo
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Mazda
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">BMW
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Mitsubishi
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Nissan
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Opel
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Peugeot
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Porsche
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Renault
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Subaru
          </p>
          <div class="main__list__point"></div>
        </div>
        <div class="main__list__item">
          <p class="main__list__title">Toyota
          </p>
          <div class="main__list__point"></div>
        </div>
      </div>
      <div class="main__list__engine">
        <div class="engine__list__first">
          <div class="engine__container" id="first__engine">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container" id="six__engine">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine8.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
          <div class="engine__container">
            <img class="engine__item" src="./images/engine.png" alt="">
          </div>
        </div>
      </div>
      <div class="main__cases">
        <!--        hello-->
        <button class="button cases__btn ">
          <img src="./images/cases/order.svg" alt="">
          <span class="cases__btn_text">Все двигатели из Европы, США и Японии</span>
        </button>
        <button class="button cases__btn ">
          <img src="./images/cases/waranty.svg" alt="">
          <span class="cases__btn_text">Гарантия на двигатели до 30 дней</span>
        </button>
        <button class="button cases__btn ">
          <img src="./images/cases/providers.svg" alt="">
          <span class="cases__btn_text">Сотни поставщиков в одном месте</span>
        </button>
        <button class="button cases__btn ">
          <img src="./images/cases/delivery.svg" alt="">
          <span class="cases__btn_text">Доставка по всей России</span>
        </button>
      </div>
      <button class="button main__button_find">
        <img src="./images/search_gray.svg" alt="">
        <span>НАЙТИ ДВИГАТЕЛЬ</span>
      </button>
    </div>
  </div>
</div>
