<div class="main">
    <div class="container">
        <div class="main__inner">
            <p class="main__title">КОНТРАКТНЫЕ НОВЫЕ И Б\У ДВИГАТЕЛИ ОТ ПРЯМЫХ ПОСТАВЩИКОВ
            </p>
            <p class="main__subtitle">
                Получите лучшее предложение среди сотен поставщиков <span class="main__subtitle__accent">в 1 клик</span>
            </p>
            <div class="main__list main__list__first">
                <div class="main__list__item">
                    <p class="main__list__title">AlfaRomeo
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Audi
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Ford
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Jaguar
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Land Rover
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Mercedes
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Opel
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Renault
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Rover
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Saab
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Skoda
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Volkswagen
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <!--      </div>-->
                <!--      <div class="main__list main__list__second">-->
                <div class="main__list__item">
                    <p class="main__list__title">Volvo
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Mazda
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">BMW
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Mitsubishi
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Nissan
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Opel
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Peugeot
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Porsche
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Renault
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Subaru
                    </p>
                    <div class="main__list__point"></div>
                </div>
                <div class="main__list__item">
                    <p class="main__list__title">Toyota
                    </p>
                    <div class="main__list__point"></div>
                </div>
            </div>
            <div class="main__list__engine">
                <div class="engine__list__first">
                    <div class="engine__line_first">
                        <div class="engine__container" id="first__engine">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine2.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine3.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine4.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine5.png" alt="">
                            </a></div>
                        <div class="engine__container" id="six__engine">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine6.png" alt="">
                            </a></div>
                    </div>
                    <div class="engine__line_second">
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine7.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine8.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine9.png" alt="">
                            </a></div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine10.png" alt=""></a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine11.png" alt=""></a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine12.png" alt=""></a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine13.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="engine__list__first engine__list__mobile">
                    <div>
                        <div class="engine__container" id="mobile__engine">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine2.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine3.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine4.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine5.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine6.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine7.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="engine__container" id="seven__engine">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine8.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine9.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine10.png" alt="">
                            </a>
                        </div>
                        <div class="engine__container">
                            <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                                <img class="engine__item" src="./static/seopage/images/engine11.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__cases">
                <div class="cases__wrapper wrapper_1">
                    <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                        <button class="button cases__btn mr-4">
                            <svg>
                                <use xlink:href="./static/seopage/images/svgSprites.svg#order" xmlns="http://www.w3.org/2000/svg"></use>
                            </svg>
                            <span class="cases__btn_text">Все двигатели из Европы, США и Японии</span>
                        </button>
                    </a>
                    <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                        <button class="button cases__btn mr-4">
                            <svg>
                                <use xlink:href="./static/seopage/images/svgSprites.svg#waranty" xmlns="http://www.w3.org/2000/svg"></use>
                            </svg>
                            <span class="cases__btn_text">Гарантия на двигатели до 30 дней</span>
                        </button>
                    </a>
                </div>
                <div class="cases__wrapper wrapper_2">
                    <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                        <button class="button cases__btn ml-4">
                            <svg>
                                <use xlink:href="./static/seopage/images/svgSprites.svg#providers" xmlns="http://www.w3.org/2000/svg"></use>
                            </svg>
                            <span class="cases__btn_text">Сотни поставщиков в одном месте</span>
                        </button>
                    </a>
                    <a href="/lk/registration?detail=Двигатель&detail_name=Двигателей&detail_id=1278">
                        <button class="button cases__btn ml-4">
                            <svg>
                                <use xlink:href="./static/seopage/images/svgSprites.svg#delivery" xmlns="http://www.w3.org/2000/svg"></use>
                            </svg>
                            <span class="cases__btn_text">Доставка по всей России</span>
                        </button>
                    </a>
                </div>
            </div>
            <button class="button main__button_find">
                <svg>
                    <use xlink:href="./static/seopage/images/svgSprites.svg#find" xmlns="http://www.w3.org/2000/svg"></use>
                </svg>
                <span>НАЙТИ ДВИГАТЕЛЬ</span>
            </button>
        </div>
    </div>
</div>
