.cases__btn {
  padding: 0;
  width: 359px;
  height: 74px;
  border: 1px solid $pink-main;
  justify-content: initial;
  box-shadow: 0 4px 17px 0 rgba(1, 1, 1, .29);

  &:hover {
    & svg {
      fill: white;
    }

    background-color: rgba(229, 9, 127, 1) !important;
  }

  svg {
    fill: $pink-main;
    margin-left: 8px;
    max-height: 53px;
    max-width: 53px;
  }

  &:active {
    transition: .1s all;
  }

  span {
    font-size: 16px;
  }
}

.wrapper_2 {
  .cases__btn {
    span {
      margin-left: 8px;
    }
  }
}

.cases__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1662px) {
  .wrapper_1 {
    justify-content: flex-end;
  }
  .wrapper_2 {
    justify-content: flex-start;
  }
  .cases__btn {
    margin-bottom: 26px;
  }
}

@media (max-width: 813px) {
  .wrapper_1{
    margin-bottom: 0;
  }
  .cases {
    //&__btn {
    //  &:first-child {
    //    margin-bottom: 26px;
    //  }
    //
    //  &:last-child {
    //    margin-bottom: 0;
    //  }
    //}
    &__btn{
      max-width: 359px;
      width: 100%;
    }
    &__wrapper {
      justify-content: center;
      a{
        margin-bottom: 26px;
        width: 100%;
      }
      button{
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .cases__btn {
    margin-right: 0;
    margin-bottom: 1rem;
    padding-right: 16px;
  }
}
// фикс для кейсов
@media(min-width:768px) and (max-width:814px){
  .cases{
    &__wrapper{
      justify-content: space-evenly;
      margin-bottom: 0;
    }
    &__btn {
      width: 340px;
    }
  }
}
@media (max-width: 425px) {

  .cases__wrapper{
    margin-bottom: 13px;
  }
  .cases__btn {
    &:first-child {
      margin-bottom: 0px;
    }
    height: 63px;
    span {
      font-size: 3.48vw;
    }

    img {
      margin-left: 8px;
    }
  }
  .wrapper_1{
    margin-bottom: 0;
  }
}
