.engine {
  &__list {
    &__first {
      display: flex;
      flex-direction: column;
    }

    &__mobile {
      display: none;
    }
  }

  &__line {
    &_first {
      justify-content: center;
      display: flex;
      margin-right: 60px;
      margin-left: 60px;
    }

    &_second {
      justify-content: center;
      display: flex;
    }
  }

  &__container {
    padding: 25px;
    background-image: url("../images/engineShadowGray.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 87%;

    &:hover {
      cursor: pointer;
      background-image: url("../images/engineShadow.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
    }
  }

  &__item {
    width: 100%;
    max-height:150px;
    max-width: 160px;
  }
}
@media (max-width: 1024px){
  .engine {
    &__container {
      padding: 15px;
    }
  }
}
@media (max-width: 768px) {
  .engine {
    &__line {
      &_first {
        justify-content: center;
        display: flex;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }
}

@media(max-width: 767px) {
  .engine {
    &__list {
      &__first {
        display: none;
      }

      &__mobile {
        display: flex;

        > div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .engine__container{
            padding: 10px;
          }
          &:nth-child(2) {
            margin: 0 12%;
          }
        }
      }
    }
  }
}
