.footer{
  position: relative;
  &__inner{
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #010101;
    padding: 0 44px;
    .private{
      margin-left: 8rem;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: $gray-light;
    }
  }
  img{
    position: absolute;
    top: -44px;
  }
  &__politics{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: white;
    text-align: center;
    text-decoration-line: underline;
    position: absolute;
    width: 90%;
  }
}
